[push]
	default = current
[alias]
  a = add
  s = status
  c = commit -m
  co = checkout
  com = checkout master
  br = branch
  df = diff
  p = push
  pl = pull
[user]
  name = taira120
  email = taira1999120@gmail.com
[core]
	excludesfile = /Users/taira/.gitignore_global
